.container-header{
    display: flex;
    align-items: flex-end;
}

input{
    margin-right: 15px;
    margin-left: 10px;
}

select.form-select{
    margin-right: 157px;
}
.container{
    margin-top: 85px;
    margin-bottom: 40px;

}